@import 'colors.scss';

.boxOutside {
  width: 600px;
  height: 600px;
  border: 4px solid $deep-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;

  p {
    padding: 0 80px;
  }

  
  &:nth-child(odd) {
    align-self: flex-end;
  }
}