@import 'colors.scss';

.boxInside {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  text-align: center;
  z-index: 2;


  p {
    padding: 0 80px;
  }

  
  // &:nth-child(odd) {
  //   align-self: flex-end;
  //   text-align: left;
  // }
}