// screen width
$xs-view: 650px;
$sm-view: 991.98px;
$xl-view: 1550px;

// animation fadein
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

section {
  padding: 10vh 0;
  width: 100%;
  display: flex;
  justify-content: center;

  // Optional background img
  // background-color: #FFFFFF;
  // background-image: url('img/pattern-randomized.png');
  // background-attachment: fixed;
  // background-size: cover;
}

// * > div[class*="animate"] {
//   display: flex;
//   flex-direction: column;
// }

@mixin view-xSmall {
  @media screen and (max-width: #{$xs-view}) {
    @content;
  }
}
@mixin view-mobile {
  @media screen and (max-width: #{$sm-view}) {
    @content;
  }
}

@mixin view-large {
  @media screen and (min-width: #{$xl-view}) {
    @content;
  }
}

@mixin border {
  border: 1px dashed black;
}