// screen width
$sm-view: 991.98px;
$md-view: 1530px;

section {
  padding: 10vh 0;
  width: 100%;
  display: flex;
  justify-content: center;

  // Optional background img
  // background-color: #FFFFFF;
  // background-image: url('img/pattern-randomized.png');
  // background-attachment: fixed;
  // background-size: cover;
}

@mixin view-mobile {
  @media screen and (max-width: #{$sm-view}) {
    @content;
  }
}

@mixin view-tablet {
  @media screen and (max-width: #{$md-view}) {
    @content;
  }
}

@mixin border {
  border: 1px dashed black;
}