@import './colors.scss';
@import 'global.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  height: 9vh;
  padding: 0.5vh 0;
  width: 100%;
  
  *{
    color: $text-dark;
  }
  
  a {
    text-decoration: none;
  }
  
  .logo {
    height: 100%;
    // padding: 0 40px;
    
    img {
      height: 100%;
    }
  }
  
  .items {
    // display: flex;
    margin: auto 0;

    ul {
      list-style: none;
      padding-left: 0;
    }

    li {
      display: inline-block;
      padding: 0 20px;
    }


  }
}